/* .front-page {
    clip-path: circle(5%);
} */
/* 
.pokeball {
    margin-bottom: 4.7rem;
}

@media screen and (max-width: 320px) {
    .pokeball {
        margin-bottom: 15rem;
    }
}

@media screen and (max-width: 375px) {
    .pokeball {
        margin-bottom: 10rem;
    }
}

@media screen and (max-width: 425px) {
    .pokeball {
        margin-bottom: 2.7rem;
    }
}

@media screen and (max-width: 565px) {
    .pokeball {
        margin-bottom: 2.7rem;
    }
}

@media screen and (max-width: 767px) {
    .pokeball {
        margin-bottom: 2.7rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .pokeball {
        margin-bottom: 4.7rem;
    }
} */
