.grass {
  background-color: #9bcb50;
  color: #232322;
}
.fire {
  background-color: #fd7d24;
}
.water {
  background-color: #4592c4;
}
.electric {
  background-color: rgb(235, 209, 38);
  color: #232322;
}
.ice {
  background-color: #50c4e7;
  color: #232322;
}
.fighting {
  background-color: #d56723;
}
.poison {
  background-color: #b87ec8;
}
.ground {
  background-color: #ab9842;
}
.flying {
  background: linear-gradient(to bottom, rgb(161, 215, 230) 50%, #b7c1c3 50%);
  color: #232322;
}
.psychic {
  background-color: rgb(219, 77, 207);
}
.ghost {
  background-color: #7b62a2;
}
.bug {
  background-color: #719f3e;
}
.rock {
  background-color: #a28c21;
}
.dragon {
  background: linear-gradient(to bottom, #452fd8 50%, #d77132 50%);
}
.normal {
  background-color: #a3acae;
}
.fairy {
  background-color: rgb(255, 148, 191);
  color: #232322;
}
.dark {
  background-color: #707070;
}
.steel {
  background-color: #9db7b7;
}

@media only screen and (max-width: 400px) {
  .fighting {
    /* padding-right: 2em;
    padding-left: 1.4em; */
    padding: 0px auto;
    transition: all 0.3s ease;
  }
}

@media only screen and (max-width: 768px) and (min-width: 854px) {
  .fighting {
    padding-right: 4.2em;
    padding-left: 0.3em;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 1211px) {
  .fighting {
    padding-right: 3.85em;
    padding-left: 0.15em;
  }
  .psychic {
    padding-right: 3.66em;
    padding-left: 0.15em;
  }
  .ground,
  .electric {
    padding-right: 3.7em;
    padding-left: 0.3em;
  }
  .normal,
  .dragon {
    padding-right: 3.5em;
    padding-left: 0.1em;
  }
}

.grass-bg {
  background-image: linear-gradient(to bottom, #57a32c, #377d46);
}
.fire-bg {
  background-image: linear-gradient(to bottom, #eaaa01, #ca3902);
}
.water-bg {
  background-image: linear-gradient(to bottom, #8ec5e1, #034e81);
}
.electric-bg {
  background-image: linear-gradient(to bottom, #fbde67, #d67b08);
}
.ice-bg {
  background-image: linear-gradient(to bottom, #08d4de, #0335cb);
}
.fighting-bg {
  background-image: linear-gradient(to bottom, #dc944f, #80371c);
}
.poison-bg {
  background-image: linear-gradient(to bottom, #a22497, #1e076c);
}
.ground-bg {
  background-image: linear-gradient(to bottom, #d4b495, #674e2f);
}
.flying-bg {
  background-image: linear-gradient(to bottom, #b7d6ea, #217cc1);
}
.psychic-bg {
  background-image: linear-gradient(to bottom, #e40573, #7a0239);
}
.ghost-bg {
  background-image: linear-gradient(to bottom, #342f5a, #090708);
}
.bug-bg {
  background-image: linear-gradient(to bottom, #d0ed90, #42a047);
}
.rock-bg {
  background-image: linear-gradient(to bottom, #825230, #5f3219);
}
.dragon-bg {
  background-image: linear-gradient(to bottom, #f2972b, #7e30d3);
}
.normal-bg {
  background-image: linear-gradient(to bottom, #cbccd1, #5b6466);
}
.fairy-bg {
  background-image: linear-gradient(to bottom, #e3b4c8, #e59799);
}
.dark-bg {
  background-image: linear-gradient(to bottom, #9499aa, #0e0e0e);
}
.steel-bg {
  background-image: linear-gradient(to bottom, #ced8da, #617b8f);
}
.abilities-bg {
  background-image: linear-gradient(to right, #fbf5ef, #e8d5cd);
}

.hp {
  color: #fff;
  background-color: #29b22d;
}

.attack {
  color: #eee;
  background-color: #f4423a;
}

.defense {
  color: #eee;
  background-color: #2297f4;
}
.special-defense {
  color: #eee;
  background-color: #2072aa;
}
.special-attack {
  color: #eee;
  background-color: #3e3099;
}
.speed {
  color: #444;
  background-color: #afe6f6;
}

@media only screen and (min-width: 1024px) {
  .grass-info-bg {
    background-image: linear-gradient(to bottom right, #57a32c, #3b3f4e);
  }
  .fire-info-bg {
    background-image: linear-gradient(to bottom right, #cf4b04, #3b3f4e);
  }
  .water-info-bg {
    background-image: linear-gradient(to bottom right, #8ec5e1, #3b3f4e);
  }
  .electric-info-bg {
    background-image: linear-gradient(to bottom right, #fbde67, #3b3f4e);
  }
  .ice-info-bg {
    background-image: linear-gradient(to bottom right, #08d4de, #3b3f4e);
  }
  .fighting-info-bg {
    background-image: linear-gradient(to bottom right, #dc944f, #3b3f4e);
  }
  .poison-info-bg {
    background-image: linear-gradient(to bottom right, #a22497, #3b3f4e);
  }
  .ground-info-bg {
    background-image: linear-gradient(to bottom right, #d4b495, #3b3f4e);
  }
  .flying-info-bg {
    background-image: linear-gradient(to bottom right, #b7d6ea, #3b3f4e);
  }
  .psychic-info-bg {
    background-image: linear-gradient(to bottom right, #e40573, #3b3f4e);
  }
  .ghost-info-bg {
    background-image: linear-gradient(to bottom right, #342f5a, #3b3f4e);
  }
  .bug-info-bg {
    background-image: linear-gradient(to bottom right, #d0ed90, #3b3f4e);
  }
  .rock-info-bg {
    background-image: linear-gradient(to bottom right, #825230, #3b3f4e);
  }
  .dragon-info-bg {
    background-image: linear-gradient(to bottom right, #442fd7, #3b3f4e);
  }
  .normal-info-bg {
    background-image: linear-gradient(to bottom right, #cbccd1, #3b3f4e);
  }
  .fairy-info-bg {
    background-image: linear-gradient(to bottom right, #e3b4c8, #3b3f4e);
  }
  .dark-info-bg {
    background-image: linear-gradient(to bottom right, #9499aa, #3b3f4e);
  }
  .steel-info-bg {
    background-image: linear-gradient(to bottom right, #ced8da, #3b3f4e);
  }
}
